#bb{
width:340px;
height:85px;
border: 1px solid green;
background-color:#E2DFE8;
}

#inputbox{
border: 1px solid green;
width:332px;
height:27px;
margin-left:3px;
background-color:white;
}

#d{
border: 3px solid #E2DFE8;
width:330px;
height:47px;

}

#d1{

}
#d2{
color:blue;
width:150px;
height:47px;
}

#msn{
height:150px;
width:360px;

}

#but{
margin-left:280px;
padding-top:20px;
}
